<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>
    <!-- Import vue library -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Import Axios library -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Import font-awesome library -->
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnO
    <!-- Import my custom files -->
    <script src="./js/script.js" defer></script>
</head>
<body>
    <div id="app">
        <h1>{{title}}</h1>
        <div id="mailContainer" v-if="generatedMails.length>0">
            <div v-for="mail in generatedMails">

            </div>
        </div>
        <p v-else>Nessuna mail generata!</p>
    </div>
</body>
</html>